<h1>Directive</h1>
<h2>*ngIf</h2>
<div *ngIf="name.length > 0">show data</div>
<div *ngIf="name.length === 0">else not show data</div>
<h2>*ngIf with else</h2>
<div *ngIf="name.length > 0; then ifBlock else elseBlock"></div>
<ng-template #ifBlock>
  show data
</ng-template>
<ng-template #elseBlock>
  else not show data
</ng-template>
<h2>hidden property</h2>
<div [hidden]="name.length > 0">show data</div>
<h2>ngSwitchCase</h2>
<ul>
  <li [class.active]="tabs === 'home'"><a (click)="tabs='home'">home</a></li>
  <li [class.active]="tabs === 'about'"><a (click)="tabs='about'">about</a></li>
</ul>
<div [ngSwitch]='tabs'>
  <div *ngSwitchCase="'home'">home</div>
  <div *ngSwitchCase="'about'">about</div>
  <div *ngSwitchDefault> default case</div>
</div>
<h2>*ngFor</h2>
<ul>
  <li *ngFor="let course of courses;index as i">
    #{{i}} {{course.subject}}
  </li>
</ul>
<ul>
  <li *ngFor="let course of courses;first as isFirst">
    #{{i}} {{course.subject}} <span *ngIf="isFirst">for loop attribute</span>
  </li>
</ul>
<ul>
  <li *ngFor="let course of courses;last as isFirst">
    #{{i}} {{course.subject}} <span *ngIf="isFirst">for loop attribute</span>
  </li>
</ul>
<ul>
  <li *ngFor="let course of courses;even as isFirst">
    #{{i}} {{course.subject}} <span *ngIf="isFirst">for loop attribute</span>
  </li>
</ul>
<ul>
  <li *ngFor="let course of courses;odd as isFirst">
    #{{i}} {{course.subject}} <span *ngIf="isFirst">for loop attribute</span>
  </li>
</ul>
<h2>ngClass</h2>
<p [ngClass]="'btn btn-primary'">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
  passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<p [ngClass]="['btn', 'btn-primary']">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
  passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<p [ngClass]="{
  'btn':courses.length > 0,
  'btn-primary':courses.length > 0
}">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
  passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<h2>ngStyle</h2>
<p [ngStyle]="{
  backgroundColor:'red'
}">
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
  type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
  essentially unchanged.
</p>
<h2>custom directive</h2>
<input type="text" [appInputFormate]="'lowercase'">